{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 2%"],
          "uglify": true
        }
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": true,
        "helpers": false
      }
    ]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}